*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
background-color: rgb(108, 145, 133);
color: bisque;

}

.texto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 350px;
    text-align: justify;
    border: solid 2px;
    border-color: black;
    position: relative;
    left: 1px;
}

.texto h2{
    text-align: center;
}
